@import "tailwindcss";

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee-slow {
  display: inline-block;
  min-width: 100%;
  animation: marquee 25s linear infinite;
}
